h1 {
  font-size: 3rem;
  color: #721093;
  
}

p {
  font-size: 4rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 50px; /* Add space below the content */
}

table {
  width: 800px;
  margin:  auto; /* Adjust table margin */
  text-align: center;
  
}

tbody,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

h3 {
  color: #af69ef;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

div{
  text-align: center;
}